.course-card{
    background:#1b1f2a;
    border-radius:18px;
    padding:25px;
    margin-bottom:20px;

    transition:.3s;
}

.course-card:hover{
    transform:translateY(-5px);
}

.course-card h2{
    margin-bottom:15px;
}

.course-card p{
    margin-bottom:10px;
    color:#cbd5e1;
}
.course-card{

    display:flex;

    gap:20px;

    align-items:center;

    background:#1b1f2a;

    padding:25px;

    border-radius:18px;

    margin-bottom:20px;

    transition:.3s;

}

.course-card:hover{

    transform:translateY(-5px);

}

.course-image{

    width:90px;

    height:90px;

    border-radius:20px;

    background:#2563eb;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:40px;

}

.course-content{

    flex:1;

}

.course-level{

    display:inline-block;

    background:#f59e0b;

    color:#111;

    padding:6px 14px;

    border-radius:30px;

    margin-bottom:12px;

    font-size:14px;

    font-weight:bold;

}

.course-content h2{

    margin-bottom:12px;

}

.course-content p{

    color:#cbd5e1;

    margin-bottom:15px;

}

.course-info{

    display:flex;

    gap:20px;

    margin-bottom:18px;

}

.progress-bar{

    width:100%;

    height:10px;

    background:#374151;

    border-radius:50px;

    overflow:hidden;

    margin-bottom:20px;

}

.progress-fill{

    height:100%;

    background:linear-gradient(90deg,#22c55e,#10b981);

}

.course-btn{

    padding:12px 22px;

    border:none;

    border-radius:10px;

    background:#2563eb;

    color:white;

    cursor:pointer;

    font-weight:bold;

}

.course-btn:hover{

    background:#1d4ed8;

}
.course-card{
    cursor:pointer;
}
.course-card:hover{
    transform:translateY(-8px);
    box-shadow:0 20px 40px rgba(0,0,0,.35);
}