*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#111;
    color:white;
    font-family:Arial,sans-serif;
}

.home{
    padding:20px;
}
top-bar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:25px 20px;
}
.logo{
    width:45px;
    height:45px;
}
.language{
    width:45px;
    height:45px;
}