.bottom-nav{
    position:fixed;
    left:0;
    right:0;
    bottom:0;

    display:flex;
    justify-content:space-around;
    align-items:center;

    height:78px;

    padding:0 12px;

    background:#1b1f2a;

    border-top:1px solid rgba(255,255,255,.08);

    box-shadow:0 -8px 25px rgba(0,0,0,.35);

    z-index:1000;
}
.nav-item{

    flex:1;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    gap:6px;

    height:100%;

    color:#cbd5e1;

    cursor:pointer;

    transition:.25s ease;

    user-select:none;

}
.nav-item:hover,
.nav-item.active{
    color:#2563eb;
}
.nav-item span{

    font-size:13px;

    font-weight:600;

}
.nav-icon{

    font-size:24px;

    transition:.25s ease;

}
.nav-item:hover .nav-icon{

    transform:translateY(-3px);

}
.nav-item.active .nav-icon{

    transform:translateY(-3px);

}
.nav-item:active{
    transform:scale(.95);
}