.navbar{
    padding:20px;
}
.top-bar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:90px;
    padding:20px;
    background:#1c1c1c;
}
.logo{
    width:45px;
    height:45px;
    font-size: 24px;
    font-weight: bold;
}
.language{
    width:45px;
    height:45px;
    padding:8px 14px;
    background:#1b1f2a;
    border-radius:10px;
    cursor:pointer;
}